<div class="flex flex-col h-auto max-h-[calc(100vh-10rem)] w-[272px] bg-[#101204] text-white rounded-lg">
    <div class="p-2 pr-4 pb-0 shrink-0 w-full overflow-hidden gap-2 flex flex-row justify-between box-border cursor-pointer content-center max-h-20 h-auto">
        <app-title-editable 
        [title]="listData()?.name"
        [expandable]="false"
        (modifyTitleEvent)="onModifyListTitle($event)" 
        class="w-[80%]"
        />
        <div class="flex flex-col justify-center items-center w-[20%]">
            <button
            matButton 
            #trigger="matMenuTrigger"
            [matMenuTriggerFor]="menu" 
            [class.bg-[#dcdfe42e]]="trigger.menuOpen"
            class="items-center align-middle p-1 rounded-sm w-full
            hover:bg-[#dcdfe42e] active:bg-[#dcdfe42e] duration-100">
                <mat-icon class="items-center align-middle">
                    more_horiz
                </mat-icon>
            </button>
            <mat-menu 
            #menu="matMenu"
            class="bg-[#242528]! text-white min-w-[150px]! absolute! top-0! 
            px-1.5 shadow-lg! rounded-md border border-[rgba(255,255,255,0.10)]">
                <div>
                    <span class="px-4 py-2 text-sm text-[#A9ABAF] block border-b border-[rgba(255,255,255,0.10)]">
                        List actions
                    </span>
                </div>
                <div class="flex flex-col gap-1">
                    <button 
                    mat-menu-item
                    (click)="changeInsertCard()"
                    class="text-white! hover:bg-[#ffffff13]! active:bg-[#ffffff13]! duration-75! mx-1 rounded-md">
                        Add a card
                    </button>
                    <button 
                    mat-menu-item
                    (click)="deleteList()"
                    class="text-white! hover:bg-[#400000]! active:bg-[#400000]! duration-75! mx-1 rounded-md">
                        Delete list
                    </button>                
                </div>
            </mat-menu>
        </div>
    </div>
    <div 
    #scrollContainer
    cdkDropList
    [id]="listData()?.id  || listId() || ''"
    cdkDropListOrientation="vertical"
    [cdkDropListData]="cards()"
    [cdkDropListConnectedTo]="listsId()"
    (cdkDropListDropped)="drop($event)"
    class="overflow-y-auto p-2 gap-3 flex flex-col scroll-config flex-1 max-h-[calc(100vh-15rem)]"
    [class.max-h-[calc(100vh-15rem)]]="!insertCard()"
    [class.max-h-[calc(100vh-12rem)]]="insertCard()">
        @for (card of cards(); track card.id) {
            <div 
            cdkDrag 
            class="card-item">
                <app-card 
                [cardId]="card.id"
                />
            </div>
        }
        @if (insertCard()) {
            <app-create-card-form 
            #insertFormRef 
            [listId]="listId()"
            (onCloseEvent)="closeInsertCard()"
            (onAddCardEvent)="addCard($event)"
            class="w-full"/>
        }
    </div>

    <div 
    class="flex flex-row p-2 w-full shrink-0"
    [class.hidden]="insertCard()"
    [class.pointer-events-none]="insertCard()">
        <button 
        class="flex content-center gap-2 p-2 w-full rounded-md cursor-pointer justify-start duration-200 hover:bg-[rgba(55,71,31,0.50)] active:bg-[#37471f]"
        (click)="changeInsertCard()">
            <mat-icon>add</mat-icon>
            <span class=""> Add a card </span>
        </button>
    </div>

</div>