<div class="w-full h-[calc(100vh-4.5rem)] flex items-center justify-center">
  <div class="flex flex-col items-center justify-center min-h-full px-4 text-center">
    <h1 class="text-6xl font-bold text-gray-300 mb-4">
        404
    </h1>
    <p class="text-xl text-gray-300 mb-8">
        Oops! This page doesn’t exist.    
    </p>
    <button 
    routerLink="/"
    class="px-6 py-3 rounded-md bg-gradient-to-r 
    from-blue-800 to-blue-600 text-white font-medium 
    hover:from-blue-900 hover:to-blue-700 transition-all 
    shadow-lg shadow-blue-500/30">
        Explore Boards
    </button>
  </div>
</div>