<div class="relative w-auto">
  <button
    #button
    type="button"
    (click)="openForm()"
    [class]="classlist()"
    [class.bg-[#E3E4F21F]]="open()"
  >
    {{ buttonText() }}
  </button>

  @if (type() === 'datetime') {
    <div
      #form
      class="fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2
      z-20 origin-top transition-all duration-300 ease-out"
      [class.scale-100]="open()"
      [class.scale-0]="!open()"
      (click)="$event.stopPropagation()"
    >
      <app-date-form
        [currentDatetime]="currentDatetime()"
        (datetimeEvent)="handleDatetimeEvent($event)"
      />
    </div>
  }

  @if (type() === 'label') {
    <div
      #form
      class="fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2
      z-20 origin-top transition-all duration-300 ease-out"
      [class.scale-100]="open()"
      [class.scale-0]="!open()"
      (click)="$event.stopPropagation()"
    >
      <app-set-label-form-component
        [cardId]="cardId() || ''"
        [listId]="listId() || ''"
        (labelCloseEvent)="handleLabelClose()"
      />
    </div>
  }

  @if (type() === 'checklist') {
    <div
      #form
      class="fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2
      z-20 origin-top transition-all duration-300 ease-out"
      [class.scale-100]="open()"
      [class.scale-0]="!open()"
      (click)="$event.stopPropagation()"
    >
      <app-checklist-create-form
        (labelCloseEvent)="handleLabelClose()"
        (titleEvent)="emitNewChecklistTitle($event)"
        />
    </div>
  }

</div>
