<div class="bg-[#242528] w-[80vw] h-[80vh] 
max-w-screen max-h-screen rounded-xl
flex flex-col gap-3 overflow-hidden text-white">
    <div class="p-5 text-white 
    flex flex-row justify-between
    border-b-2 border-[#E3E4F21F]">
        <span>header</span>
        <div class="flex flex-row gap-5">
            <button>...</button>
            <button>x</button>
        </div>
    </div>
    <div class="flex flex-col lg:flex-row h-full px-4 pb-2 lg:p-0">
        <!--CONTENT-->
        <div class="flex flex-col gap-5 w-full lg:w-[70%] lg:px-4 lg:pb-2 overflow-y-scroll scroll-config">
            <div class="flex flex-row box-content gap-2">
                <div 
                (click)="checkCard()"
                class="overflow-hidden transition-all pt-3 duration-300 max-w-[15%] opacity-100"
                >
                    <input 
                    type="checkbox"
                    class="appearance-none w-4 h-4 rounded-full border-2 border-white duration-400
                    bg-transparent cursor-pointer flex items-center justify-center
                    checked:bg-[#B3DF72] checked:border-[#B3DF72]
                    checked:before:content-['✔'] checked:before:text-[#242528]"
                    [checked]="card()?.completed">
                </div>
                <app-title-editable 
                [title]="card()?.title" 
                (modifyTitleEvent)="getNewTitle($event)"
                class="max-w-[85%] w-full"/>
            </div>
            <div class="flex flex-col gap-2 w-full">
                <span class="text-[#A9ABAF]">Add elements</span>
                <div class="flex flex-row gap-2">
                    <button class="border border-gray-500 px-3 py-1 rounded-md hover:bg-[#E3E4F21F] min-w-15">Labels</button>
                    <button class="border border-gray-500 px-3 py-1 rounded-md hover:bg-[#E3E4F21F] min-w-15">Date</button>
                    <button class="border border-gray-500 px-3 py-1 rounded-md hover:bg-[#E3E4F21F] min-w-15">Checklist</button>
                </div>
            </div>
            <div class="flex flex-row gap-2">
                <div class="max-w-[15%]">
                    <mat-icon>menu</mat-icon>
                </div>
                <div class="flex flex-col gap-4 max-w-[85%] w-full">
                    <span class="font-medium">Description</span>
                    <app-description-form 
                    [description]="card()?.description" 
                    (changeDescriptionEvent)="changeDescription($event)" />
                </div>
            </div>
        </div>
        <!--COMMENTS-->
        <div class="w-full lg:w-[30%]">
            rigth
        </div>
    </div>
</div>
