<div class="bg-[#242528] w-[80vw] h-[80vh] 
max-w-screen max-h-screen rounded-xl
flex flex-col overflow-hidden text-white z-1">
    <div class="p-5 text-white 
    flex flex-row justify-between items-center
    border-b-2 border-[#E3E4F21F]">
        <span 
        class="bg-[#4B4D51] px-3 py-1.5 font-medium rounded-md cursor-pointer hover:bg-[#63666B]">
            List title
        </span>
        <div class="flex flex-row gap-5">
            <button
            (click)="deleteCard()"
            class="px-3 py-1.5 rounded-md cursor-pointer
            bg-[#28000069] text-white text-sm font-medium
            hover:bg-[#400000] active:bg-[#500000] focus:outline-none 
            focus:ring-2 focus:ring-[#800000] focus:ring-offset-1 transition">
            Delete card
            </button>
            <button 
            (click)="closeDialog()"
            class="p-1 rounded-md cursor-pointer flex items-center justify-center hover:bg-[#3A3B3E]">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <div class="flex flex-col lg:flex-row h-full px-4 pb-2 lg:p-0 lg:overflow-hidden overflow-y-scroll scroll-config">
        <!--CONTENT-->
        <div class="flex flex-col gap-5 w-full lg:w-[50%] pt-3 lg:px-4 lg:pb-2 lg:overflow-y-scroll scroll-config">
            <div class="flex flex-row box-content gap-2">
                <div 
                (click)="checkCard()"
                class="overflow-hidden transition-all pt-3 duration-300 max-w-[15%] opacity-100"
                >
                    <input 
                    type="checkbox"
                    class="appearance-none w-4 h-4 rounded-full border-2 border-white duration-400
                    bg-transparent cursor-pointer flex items-center justify-center
                    checked:bg-[#B3DF72] checked:border-[#B3DF72]
                    checked:before:content-['✔'] checked:before:text-[#242528]"
                    [checked]="card()?.completed">
                </div>
                <app-title-editable 
                [title]="card()?.title" 
                (modifyTitleEvent)="getNewTitle($event)"
                class="max-w-[85%] w-full"/>
            </div>
            <div class="flex flex-col gap-2 w-full">
                <span class="text-[#A9ABAF]">Add elements</span>
                <div class="flex flex-row gap-2">
                    <app-open-form-button 
                    type="label"
                    [cardId]="card()?.id"
                    [listId]="card()?.list_id"
                    buttonText="Labels"
                    (labelSaveEvent)="handleLabelSave($event)"
                    (labelCloseEvent)="handleLabelClose()"
                    />
                    <button class="border-2 border-gray-500 px-3 py-1 rounded-md hover:bg-[#E3E4F21F] min-w-15">Checklist</button>
                    <app-open-form-button 
                    type="datetime"
                    buttonText="Date"
                    (datetimeEvent)="setMaturity($event)"
                    />
                </div>
            </div>
            @if (card()?.maturity) {
                <div>
                    <span class="font-medium">Due Date</span>
                    <div 
                    class="flex flex-row items-center gap-2 cursor-pointer 
                    hover:bg-[#3A3B3E] p-2 rounded-md w-max">
                        <mat-icon>calendar_today</mat-icon>
                        <span>
                            {{ card()?.maturity | date:'mediumDate' }} 
                            {{ card()?.maturity | date:'shortTime' }}
                        </span>
                        <button class="flex flex-col justify-center
                        p-1 rounded-md cursor-pointer
                        bg-[#28000069] text-white text-sm font-medium
                        hover:bg-[#400000] active:bg-[#500000] focus:outline-none 
                        focus:ring-2 focus:ring-[#800000] focus:ring-offset-1 transition">
                            <mat-icon
                            (click)="removeMaturity()">
                                close
                            </mat-icon>
                        </button>
                    </div>
                </div>
            }

            @if (labels().length > 0) {
                <div class="flex flex-col gap-2 w-auto">
                    <span class="font-medium text-[#A9ABAF]">Labels</span>
                    <div class="grid grid-cols-[repeat(auto-fit,minmax(50px,1fr))] gap-2">
                        @for (label of labels(); track label.id) {
                            <div 
                            class="content-center px-2 py-1 rounded-md text-sm font-medium min-w-10 max-w-50 min-h-8 overflow-hidden text-ellipsis whitespace-nowrap
                            hover:opacity-80 cursor-default"
                            [style.backgroundColor]="label.color.hex">
                                {{ label.name }}
                            </div>
                        }
                    </div>
                </div>
            }

            <div class="flex flex-row gap-2">
                <div class="max-w-[15%]">
                    <mat-icon>menu</mat-icon>
                </div>
                <div class="flex flex-col gap-4 max-w-[85%] w-full">
                    <span class="font-medium">Description</span>
                    <app-description-form 
                    [description]="card()?.description" 
                    [placeholder]="'Write description for card...'"
                    (changeDescriptionEvent)="changeDescription($event)" />
                </div>
            </div>
        </div>
        <!--COMMENTS-->
        <div class="w-full lg:w-[50%] bg-transparent lg:bg-[#18191A]
        pt-3 lg:px-4 lg:pb-2 flex flex-col gap-3 lg:overflow-y-scroll scroll-config">
            <div class="w-full flex flex-row items-center gap-2 text-lg">
                <mat-icon>comment</mat-icon>
                <span class="font-medium">Comments</span>
            </div>
            <app-description-form 
            [description]="null" 
            [placeholder]="'Write a comment...'"
            [destroyAfterSave]="true"
            (changeDescriptionEvent)="createComment($event)"
            />
            @if (comments().length > 0) {
                @for (comment of comments(); track comment.id) {
                    <app-comment
                    [id]="comment.id"
                    />
                }
            }
        </div>
    </div>
</div>
