<form 
[formGroup]="insertForm" 
(ngSubmit)="addCard()"
#insertFormRef 
class="w-full flex flex-col items-start gap-2">
    <textarea 
    type="text" 
    placeholder="Enter title"
    #cardFormInput
    (keydown)="onInsertCardKeydown($event)"
    formControlName="cardTitle"
    class="appearance-none outline-0 border-2 
    hover:border-transparent border-[#669DF1]
    bg-[#242528] text-white w-full
    px-3 py-2 pb-6 rounded-md resize-none scroll-config"></textarea>
        
        <div class="flex flex-row gap-2 items-center">
            <button 
            type="submit"
            class="bg-[#669DF1] text-[#242528] font-medium px-2 py-1 
            rounded-md hover:bg-[#8FB8F6]">
                Add card
            </button>
                
            <button 
            type="button"
            (click)="onInsertBlur()" 
            class="flex flex-col justify-center p-1 duration-200 
            hover:bg-[rgba(55,71,31,0.50)] active:bg-[#37471f] rounded-md">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </form>