<div class="flex w-full items-center gap-3 h-8">
    <input
    type="checkbox"
    [checked]="isChecked()"
    (change)="handleCheckboxChange($event)"
    class="appearance-none w-5 h-5 border-2 border-gray-400 rounded-md
    checked:bg-blue-500 checked:border-blue-500 focus:outline-none 
    focus:ring-2 focus:ring-blue-400 checked:before:content-['✔']
    checked:before:text-white flex flex-col justify-center items-center"
    />

    <div 
    class="flex-1 h-full rounded-md px-2 flex items-center" 
    [style.backgroundColor]="colorHex()">
        <span>{{ title() ? title() : '' }}</span>
    </div>
    
    <button
    type="button"
    (click)="handleEdit()"
    class="flex items-center justify-center w-8 h-8 
    rounded-md bg-[#383a3e] hover:bg-[#5a5b5d] 
    transition-colors"
    >
        <mat-icon class="text-white text-[18px]">edit</mat-icon>
    </button>
</div>