<div class="bg-[#242528] text-white rounded-md max-h-screen overflow-y-auto w-auto scroll-config shadow-lg shadow-black/25">
    <header class="p-2 border-b border-gray-700 flex flex-row justify-between items-center">
        <button type="button" (click)="handleBack()" class="flex flex-col justify-center items-center p-2 rounded-md bg-[#383a3e] hover:bg-[#5a5b5d] duration-150">
            <mat-icon 
            [style.fontSize]="'20px'">
                arrow_back
            </mat-icon>
        </button>
        <h2 class="font-medium">{{ editMode() ? 'Edit label' : 'Create label' }}</h2>
        <button type="button" (click)="handleClose()" class="flex flex-col justify-center items-center p-2 rounded-md bg-[#383a3e] hover:bg-[#5a5b5d] duration-150">
            <mat-icon 
            [style.fontSize]="'20px'">
                close
            </mat-icon>
        </button>
    </header>
    <div class="bg-[#18191A] w-full flex items-center justify-center py-7">
        <div class="w-[70%] min-h-6 rounded-md" 
        [style.background]="currentColor().hex"></div>
    </div>
    <form 
    [formGroup]="formTitle"
    (ngSubmit)="onSubmit()"
    class="w-full flex flex-col gap-3 px-4 py-3">
        <div class="w-full flex flex-col gap-1">
            <label for="labelName">Title</label>
            <input 
            type="text" 
            formControlName="title"
            class="appearance-none px-3 py-2 rounded-md focus:outline-2 focus:outline-[#669DF1] bg-[#18191A] border-1 border-gray-400 focus:border-[#669DF1]"
            />
        </div>
        <app-color-picker (selectColorEvent)="setColor($event)"/>
        <button 
        type="submit"
        [disabled]="!formTitle.valid" 
        class="flex flex-row justify-center items-center gap-2 px-4 py-2 rounded-md bg-[#669DF1] hover:bg-[#8cb7f6] duration-150 w-full disabled:opacity-50 text-[#242528] font-medium">
            <span>{{ editMode() ? 'Save' : 'Create' }}</span>
        </button>
    </form>
</div>