<div class="bg-[#242528] text-white rounded-md">
    <header class="px-4 py-2 border-b border-gray-700 flex flex-row justify-between items-center">
        <button class="flex flex-col justify-center">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <h2 class="font-medium">Create Label</h2>
        <button class="flex flex-col justify-center">
            <mat-icon>close</mat-icon>
        </button>
    </header>
    <div class="bg-[#18191A] w-full flex items-center justify-center py-7">
        <div class="bg-[#CECED912] w-[70%] min-h-6 rounded-md"></div>
    </div>
    <form 
    (ngSubmit)="onSubmit()"
    class="w-full flex flex-col gap-3 px-4 py-3">
        <div class="w-full flex flex-col gap-1">
            <label for="labelName">Title</label>
            <input type="text" required/>
        </div>
        <div>
        <label for="labelColor">Label Color:</label>
        <input type="color" id="labelColor" required name="labelColor" />
        </div>
        <button type="submit">Create Label</button>
    </form>
</div>