/* Preview */
:host ::ng-deep .cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.18),
    0 14px 38px rgba(0, 0, 0, 0.12);
  transform: rotate(-45deg) skewY(-1deg) scale(1.02);
  opacity: 0.92;
}

/* Placeholder */
:host ::ng-deep .cdk-drag-placeholder {
  opacity: 0.35;
  filter: grayscale(0.8) blur(1px);
}