<div 
class="flex flex-col h-screen max-h-screen text-white bg-[#1f1f21]"
>
  <!-- write a header -->
   <header class="flex flex-row gap-3 p-3 border-b border-b-[#464649] 
   items-center justify-between h-[4.5rem]">
    <div class="flex flex-row gap-3 items-center">
        <button 
        [matMenuTriggerFor]="menu"
        class="flex md:hidden p-1 hover:bg-[#E3E4F21F] rounded-md border border-[#464649]">
          <app-more-icon
          class="w-6 h-6 text-white"
          />
        </button>
        <mat-menu 
        #menu="matMenu"
        class="bg-[#1f1f21]! border! border-[#464649]! px-2! min-w-30!
        flex! flex-col!">
          <app-header/>
        </mat-menu>
        <div 
        routerLink="/"
        class="flex flex-row gap-2 items-center cursor-pointer">
          <app-trello-logo 
          class="w-7.5 h-7.5"
          />
          <span class="hidden md:flex font-medium text-gray-200 text-center 
          min-w-max font-sans whitespace-nowrap">
            Trello Clone
          </span>
        </div>
    
        <app-board-create-form
        [typeButton]="'nav'"/>
    </div>
    <div>
      @if (userProfile) {
        <button 
        [matMenuTriggerFor]="sessionMenu"
        class="rounded-full overflow-hidden w-10 h-10 
        cursor-pointer bg-no-repeat bg-center bg-cover"
        [style.backgroundImage]="'url(' + userProfile['picture'] + ')'"
        >
        </button>
        <mat-menu 
        #sessionMenu="matMenu"
        class="bg-transparent! shadow-none! min-w-40! p-0!">
          <div 
          class="bg-[#1f1f21] border border-[#464649]
          flex flex-row rounded-md shadow-md p-4 gap-3 items-center"
          (click)="$event.preventDefault(); $event.stopPropagation()">
            <div
            class="rounded-full overflow-hidden w-10 h-10 
            cursor-pointer bg-no-repeat bg-center bg-cover"
            [style.backgroundImage]="'url(' + userProfile['picture'] + ')'"
            ></div>
            <div class="flex flex-col ml-3 justify-center
            text-white">
              <span>{{ userProfile['name'] }}</span>
              <span>{{ userProfile['email'] }}</span>
            </div>
          </div>
        </mat-menu>
      }
    </div>
   </header>
   <router-outlet />
  </div>

