<div class="flex flex-row h-full">
    <nav class="w-[30%] max-w-60 sticky hidden md:flex min-h-[calc(100vh-1.5rem)] p-4 border-r border-gray-300 items-center justify-between bg-red-100">
        header fixed
    </nav>
    <main class="flex-1 w-[70%] p-4 overflow-y-auto">
        <div class="w-full grid grid-cols-[repeat(auto-fill,minmax(10rem,1fr))] gap-4">
            @for (board of recentBoards(); track board.id) {
                <app-board-card 
                [board]="board"
                (isFavoriteEvent)="toggleBoardFavorite($event)"
                />
            }
        </div>
    
        <div class="w-full grid grid-cols-[repeat(auto-fill,minmax(10rem,1fr))] gap-4 mt-8">
            @for (board of boards(); track board.id) {
                <app-board-card 
                [board]="board"
                (isFavoriteEvent)="toggleBoardFavorite($event)"
                />
            }
        </div>
    
        <div class="w-full grid grid-cols-[repeat(auto-fill,minmax(10rem,1fr))] gap-4 mt-8">
            @for (board of favoriteBoards(); track board.id) {
                <app-board-card 
                [board]="board"
                (isFavoriteEvent)="toggleBoardFavorite($event)"
                />
            }
        </div>
    </main>
</div>