<div class="flex flex-row h-[calc(100vh-3.7rem)]">
    <nav class="w-[30%] max-w-60 sticky hidden md:flex min-h-full 
    p-4 pr-2 items-start justify-between">
        <header class="flex flex-col gap-2 w-full">
            <button
            routerLink="/boards"
            routerLinkActive="bg-[#1C2B42] text-[#669DF1]! hover:bg-[#243754]!"
            [routerLinkActiveOptions]="{ exact: true }"
            class="p-2 rounded w-full flex flex-row items-center
            justify-start gap-2 text-sm text-white hover:bg-[#E3E4F21F] cursor-pointer"
            >
                <app-board-icon />
                Boards
            </button>

            <button
            routerLink="/about"
            routerLinkActive="bg-[#1C2B42] text-[#669DF1]! hover:bg-[#243754]!"
            class="p-2 rounded w-full flex flex-row items-center
            justify-start gap-2 text-sm text-white hover:bg-[#E3E4F21F] cursor-pointer"
            >
                <mat-icon>info</mat-icon>
                About
            </button>
        </header>
    </nav>
    <main class="flex-1 w-[70%] overflow-y-auto
    flex flex-col gap-6 scroll-config">
        <router-outlet></router-outlet>
    </main>
</div>