@if (!showCreateForm()) {
<div class="bg-[#242528] text-white rounded-md min-w-3xs shadow-lg shadow-black/25 max-h-screen overflow-y-auto w-auto scroll-config">
    <header class="relative flex flex-row justify-center items-center text-white p-4 border-b-2 border-gray-600">
        <h2 class="font-medium">Labels</h2>
        <button type="button" (click)="handleClose()" class="absolute right-0 m-2 flex flex-col justify-center items-center p-2 rounded-md bg-[#383a3e] hover:bg-[#5a5b5d] duration-150">
            <mat-icon>close</mat-icon>
        </button>
    </header>
    <section class="flex flex-col gap-3 p-2">
        <h3>Labels</h3>
        <div class="w-full flex flex-col gap-2">
            @for (option of labelOptions(); track option.id) {
               <app-label-form-option
                [optionId]="option.id ?? ''"
                [title]="option.name"
                [colorHex]="option.color?.hex || 'transparent'"
                [isChecked]="isLabelSelected(option.id ?? '')"
                (onToggle)="handleToggleLabel($event)"
                (onEdit)="handleEdit($event)"
                />
            }
        </div>
        <button type="button" (click)="openCreateForm()" class="flex flex-row justify-center items-center gap-2 px-4 py-2 rounded-md bg-[#383a3e] hover:bg-[#5a5b5d] duration-150 w-full disabled:opacity-50">
            Create a new label
        </button>
    </section>
</div>
} @else {
    <app-label-create-form
        [editMode]="editMode()"
        [labelData]="getCurrentLabelData()"
        (onBack)="handleBack()"
        (onClose)="handleClose()"
        (onSave)="handleSave($event)">
    </app-label-create-form>
}
