@import "tailwindcss";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cdk-dialog-container:focus,
.cdk-dialog-container:focus-visible,
.cdk-focus-trap-anchor:focus {
  outline: none !important;
}

.scroll-config::-webkit-scrollbar {
  width: 8px; /* w-2 */
}

.scroll-config::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 9999px; /* rounded-full */
}

.scroll-config::-webkit-scrollbar-thumb {
  background: rgba(75, 76, 80, 0.6); /* bg-[#4b4c50]/60 */
  border-radius: 9999px;
  transition: all 0.3s;
  cursor: default;
}

.scroll-config::-webkit-scrollbar-thumb:hover {
  background: #6a6b70;
}
